* {
    margin: 0;
    padding: 0;
    box-shadow: 0;
}

body {
    background: #edf3ff;
}

header {
    padding: 2rem;
    background: #0404b8;
    font-size: 2rem;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#items {
    margin-left: 30px;
}

#items a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 0 20px;
}

section #main {
    height: 76vh;
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}

footer {
    background: #000033;
    color: #aeaed8;
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;
}